In [56]:
price=int(input("enter price"))
tax=int(input("enter tax:"))
total=price+tax;
print("total=",total)

enter price10
enter tax:2
total= 12

In [57]:
price=int(input("enter price"))
tax=int(input("enter tax:"))
total=price+tax;
print("total=",total)

enter price100
enter tax:20
total= 120

In [58]:
is_student=True
in_class=True
in_ground=False
is_student and in_ground

False

In [8]:
is_student=True
in_class=True
in_ground=False
is_student or in_ground

True

In [9]:
x=[12,8,7,3]
y=[3,6,7,8]
z=x
print(x is z)
print(id(x))
print(id(y))
print(id(z))

True
2893247185536
2893247185728
2893247185536

In [11]:
x=["hii","hello"]
y=["hii","hello"]
z=y
print(y is z)
print(x is not z)
print(x!=y)

True
True
False

# membership operators

In [12]:
word="hello"
print("e" not in word)
print("k" not in word)

False
True

# bitwise operations

In [13]:
print(bin(5))
print(bin(7))
print("10 & 11=",10&11)
print("10 | 11=",10|11)
print("10 ^ 11=",10^11)
print("~10=",~10)
print('10>>2=',10>>2)
print('10<<2=',10<<2)

0b101
0b111
10 & 11= 10
10 | 11= 11
10 ^ 11= 1
~10= -11
10>>2= 2
10<<2= 40

# if-else statement

In [18]:
pas=33
marks=int(input("enter marks:"))
if(marks>pas):
    print("student passed the exam")
else:
    print("student failed")

enter marks:87
student passed the exam

# class assignment(11-fri)

In [28]:
service=int(input("enter years of service:"))
salary=int(input("enter the salary:"))
if(service>10):
    bonus=salary/10*100
elif(10<=service<=6):
    bonus=salary/8*100
else:
    bonus=salary/5*100


net=salary+bonus
print(net)

enter years of service:12
enter the salary:100000
1100000.0

# while loop

In [33]:
n=int(input("enter n value:"))
sum=0
i=1
while(i<n):
    sum+=n 
    i=i+1
print("sum=",sum);

enter n value:3
sum= 6

# indexing and slicing

In [38]:
text="hii there"
text[3:]

' there'

In [39]:
text="hii there"
text[0:4]

'hii '

# reversing

In [44]:
text="hii there"
text[::-1]

'ereht iih'

In [48]:
text.replace("hii","hloo")
#replace hii with hloo
'hii there'
text.upper()
'hey hii'
text.upper()

'HII THERE'

# list

In [50]:
list1=["engineering_books","stories_books"]
list2=["business_books","logical_books"]
print("total books in library=",list1+list2);

total books in library= ['engineering_books', 'stories_books', 'business_books', 'logical_books']

In [53]:
list1=["engineering_books","stories_books"]
list1.append("novels")
print(list1)

['engineering_books', 'stories_books', 'novels']

# list sorting

In [54]:
list1=[4,33,2,16,90,12,17]
ordered_list=sorted(list1)
print(ordered_list)

[2, 4, 12, 16, 17, 33, 90]